@import (reference) 'Less/config.less';

#home-container {
  margin: 5rem;
  padding: 1rem;
  background-image: url('Assets/img/logo.png');
  background-size: contain;
  background-repeat: no-repeat;

  h1 {
    color: @color_main;
    font-family: 'Roboto';
    font-weight: 500;
  }
}