@import 'Less/Animations/_animations.less';

#home-container {
  margin: 5rem;
  padding: 1rem;

  h1 {
    color: var(--primary);
    font-family: 'Roboto';
    font-weight: 500;
    transition: color .2s ease-in-out;
  }

  h2 {
    color: var(--primary);
    transition: color .2s ease-in-out;
  }

  h4 {
    font-size: 4rem;
    display: flex;

    span {
      cursor: default;
      transition: all .4s cubic-bezier(0, 0, 0, 1.30);

      &.flip {
        .flipY;
      }
    }
  }
}