@import (reference) '../config.less';

#about-me {

	@media all and (max-width: 730px) {
		display: block;
	}

	.blurred-container {
		position: relative;
		width: 50%;
		min-width: 800px;
		max-width: 1000px;
		margin: 0 auto;

		// IE 11
		@media all and (-ms-high-contrast:none) {
			margin: 0;
		}

		@media all and (max-width: 730px) {
			width: 100%;
			min-width: 0;
			max-width: 100%;
			height: 100%;
			margin: 33px 0 0;

			article {
				display: block;

				figure {
					min-height: 200px;
				}

				.info {
					padding-bottom: 80px;
				}
			}
		}
	}

	// View Enter Animations
	&.active .blurred-container {

		article {

			figure img {
				.growIn(@duration: .5s, @delay: .5s);
			}

			.info {
				.title {
					.fadeInUp(@duration: .4s, @delay: .6s);
				}

				.content {
					.fadeInUp(@duration: .4s, @delay: .7s);
				}

				.file {
					.fadeInUp(@duration: .4s, @delay: .8s);
				}
			}
		}
	}
}