@import (reference) '../config.less';
@import (reference) '../components/scrollbar.less';

#experience {
	transition: all .3s ease-in-out;

	&.leave-left #projects-container .blurred-container,
	&.leave-right #projects-container .blurred-container {
		.fadeOutDown!important;
	}

	&.active #projects-nav {
		bottom: 0;
	}

	&.demo-open {
		z-index: 4;
	}

	#projects-nav {
		position: fixed;
		left: 0;
		bottom: -20%;
		width: 100%;
		padding: 10px 0;
		background: @color_primary_bg;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		z-index: 3;
		transition: all .3s ease-in-out;

		&[data-index="first"] button[data-direction="prev"],
		&[data-index="last"] button[data-direction="next"] {
			opacity: .3;
			cursor: not-allowed;
		}

		span {
			margin: 0 15px;
			color: #FFF;
		}

		button {
			width: 40px;
			height: 40px;
			font-weight: bold;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			svg {
				min-width: 20px;
			}
		}
	}

	#projects-container {
		width: 100%;
		height: 100vh;
		padding: 55px 0 75px;
		background: inherit;
		overflow: hidden;

		@media all and (max-width: 730px) {
			padding: 34px 0 60px;
		}

		.project {
			position: absolute;
			left: 0;
			right: 0;
			width: 100%;
			height: ~"calc(100vh - 125px)";
			background: inherit;
			background-attachment: fixed;
			text-align: center;
			opacity: 0;
			z-index: 0;

			@media all and (max-width: 730px) {
				height: ~"calc(100vh - 95px)";
			}

			.blurred-container {
				position: relative;
				width: 50%;
				min-width: 800px;
				max-width: 1000px;
				height: 100%;
				max-height: 100%;
				margin: 0 auto;
				display: block;
				transition: all .3s ease-in-out;

				@media all and (max-width: 805px) {
					min-width: 100%;
					max-width: 100%;
					width: 100%;
				}

				article {
					max-height: 100%;
					padding: 20px 20px 0;
					z-index: 2;

					@media all and (max-width: 805px) {
						display: block;
					}

					.meta-container {
						flex: .7;

						figure {
							margin: 0;

							@media all and (max-width: 730px) {
								width: 100%;
								margin: 0 auto;
							}
						}

						.file {
							margin: 20px 0 0;
							display: block;
							background: @color_primary_bg;
							border: none;

							& > div {
								margin: 10px 0;
								padding: 0;
							}
						}

						.buttons-container {
							margin-top: 20px;
							display: flex;
							justify-content: flex-end;

							@media all and (max-width: 730px) {
								display: block;

								&.double a {
									margin-top: 20px;
								}
							}

							button {
								margin-right: 15px;

								@media all and (max-width: 730px) {
									width: 100%;
									padding: 15px 0;
									margin-right: 0;
								}
							}

							a {
								display: inline-flex;
								align-items: center;
								justify-content: center;
								text-decoration: none!important;

								@media all and (max-width: 730px) {
									width: 100%;
									padding: 15px 0;
								}

								svg {
									width: 15px;
									margin-right: 5px;
								}
							}
						}
					}

					.info {
						padding: 0 20px;
						display: block;
						overflow: auto;
						.scrollbar;

						@media all and (max-width: 715px) {
							margin-top: 20px;
						}

						.title {
							margin: 30px 0 20px;
							transition: all .3s ease-in-out;
						}

						.content {
							opacity: 0;
							transform: translate(0,-10%);
							transition: all .3s ease-in-out;
						}
					}
				}
			}

			// Enter Animations
			&.enter {
				opacity: 1;
				z-index: 1;

				.blurred-container {
					.shrinkInDown;

					article .info {

						.title {
							margin: 0 0 20px;
						}

						.content {
							opacity: 1;
							transform: translate(0,0);
						}
					}
				}
			}

			&.leave {

				.blurred-container {
					.shrinkOutUp;
				}
			}
		}
	}

	.project-demo {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		padding: 30px;
		background: rgba(0,0,0,.8);
		opacity: 0;
		pointer-events: none;
		overflow: hidden;
		z-index: 4;
		transition: all .3s ease-in-out;

		@media all and (max-width: 730px) {
			padding: 20px 10px 50px;
		}

		&.open {
			opacity: 1;
			pointer-events: all;

			video {
				.shrinkInUp(@delay: .3s);
			}
		}

		button {
			position: absolute;
			top: 10px;
			left: 20px;
			display: flex;
			align-items: center;
			justify-content: center;

			@media all and (max-width: 730px) {
				position: static;
				top: 0;
				margin: 0 0 10px 20px;
			}

			svg {
				width: 15px;
				margin-right: 10px;
			}
		}

		video {
			height: ~"calc(100% - 45px)";
		}
	}
}