@import (reference) 'Less/config.less';

#contact-form {
  position: relative;
  width: 100%;

  #form-container {
    .fadeInDown(@delay: .2s);

    &.leave {
      .abduct;
    }

    .input-container {

      input,
      textarea {
        width: 100%;
        padding: 1rem;
        background-color: transparent;
        color: var(--text-normal);
        font-family: var(--roboto-font);
        font-size: 1.6rem;
        outline: none!important;
        border-radius: var(--border-radius-input);
        border: 2px solid var(--color-highlight);

        &::placeholder {
          color: var(--text-normal-faded);
        }
      }

      textarea {
        min-height: 20vh;
        resize: none;
      }
    }
  }

  #ufo-animation-container {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -10%);
    pointer-events: none;

    & > div {
      height: 100%;

      svg {
        width: auto!important;
        height: 100%!important;
      }
    }
  }

  #message-sent-container {
    .fadeInDown;

    @media all and (max-width: 768px) {
      margin: 10rem 0;
    }
  }
}