.light-theme {

  // Main colors
  --primary: #190443;
  --secondary: #FF9F1C;
  --highlight: #E84855;
  --emphasis: #2CDA9D;

  // Text
  --font-family: 'Roboto Mono', 'Roboto', sans-serif;
  --intro: #F5F5F5;
  --normal: #190443;
  --text-header: #190443;

  // Backgrounds
  --headerBg: #F5F5F5;
  --mainBg: #F4EDED;
  --pageBg: #F4EDED;

  // Borders
  --primaryBorder: #000;
  --secondaryBorder: #333;
  --border-radius: 36px;
}

.dark-theme {

  // Main colors
  --primary: #190443;
  --secondary: #FF9F1C;
  --highlight: #2CDA9D;
  --emphasis: #E84855;

  // Text
  --font-family: 'Roboto Mono', 'Roboto', sans-serif;
  --intro: #F5F5F5;
  --normal: #F5F5F5;
  --text-header: #F4EDED;

  // Backgrounds
  --headerBg: #333;
  --mainBg: #190443;
  --pageBg: #190443;

  // Borders
  --primaryBorder: #3c415c;
  --secondaryBorder: #b4a5a5;
  --border-radius: 36px;
}