<!-- About Me Section -->
<section id="about-me" data-index="1">

	<div class="blurred-container">

		<article>

			<!-- Picture -->
			<figure class="loading">
				<div class="loader"><div></div><div></div></div>
				<img data-src="img/fabricio-viazzi.jpg" alt="fabricio-viazzi" />
			</figure>

			<!-- Info -->
			<div class="info">

				<div class="title">
					<h5>Info</h5>
					<h2>About <span>Me</span></h2>
				</div>

				<div class="content">
					<p>Hey there! My name is Fabricio, I'm a frontend developer and UI designer. I'm currently based in my homeland, Argentina.</p>
					<p>
						Through my 8 years of experience, my skillset allowed me to play a special role in projects, participating in both design and development processes. This helps me to fit in a project on several ways, being a team member or doing solo for smaller requirements.
					</p>
					<p>I usually work as a contractor, but I'm open for opportunities. Reach me out, so we can talk about your project.</p>
				</div>

				<div class="file">
					<div>
						<span>Name</span><p>Fabricio Viazzi</p>
					</div>
					<div>
						<span>Age</span><p id="age"><span></span> (dec. 21, 1989)</p>
					</div>
					<div>
						<span>Phone</span><p><a href="https://wa.me/34663588841" target="blank" rel="nofollow">+34663588841</a></p>
					</div>
					<div>
						<span>Email</span><p><a href="mailto:reach@fabsdev.com" target="blank" rel="nofollow">reach@fabsdev.com</a></p>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>