<!-- About Me Section -->
<section id="about-me" data-index="1">

	<div class="blurred-container">

		<article>

			<!-- Picture -->
			<figure class="loading">
				<div class="loader"><div></div><div></div></div>
				<img data-src="img/fabricio-viazzi.jpg" alt="fabricio-viazzi" />
			</figure>

			<!-- Info -->
			<div class="info">

				<div class="title">
					<h5>Info</h5>
					<h2>About <span>Me</span></h2>
				</div>

				<div class="content">
					<p>My name is Fabricio Viazzi, I'm a frontend developer and UI designer based on Barcelona, Spain.</p>
					<p>My passion about design and programming allowed me to play a special rol on projects, being part of both processes and having a complete understanding of the product specifications.</p>
					<p>I currently have part time availability.</p>
				</div>

				<div class="file">
					<div>
						<span>Name</span><p>Fabricio Viazzi</p>
					</div>
					<div>
						<span>Age</span><p id="age"><span></span> (dec. 21, 1989)</p>
					</div>
					<div>
						<span>Phone</span><p>+34663588841</p>
					</div>
					<div>
						<span>Based</span><p>Barcelona, Spain</p>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>