<!-- Home Section -->
<section id="home" class="active" data-index="0">

	<div class="blurred-container">

		<div id="profile">

			<figure id="profile-picture" class="loading">
				<div class="loader"><div></div><div></div></div>
				<img data-src="img/profile.jpg" alt="fabricio-viazzi" />
			</figure>

			<h1><span>Fabricio</span> Viazzi</h1>

			<h2>Frontend developer</h2>
			<h2 class="primary">UI Designer</h2>
		</div>

		<!-- Menu -->
		<nav id="home-menu">
			<button data-target="#about-me">About Me</button>
			<button data-target="#skills">Skills</button>
			<button data-target="#experience">Experience</button>
		</nav>

		<!-- Contact -->
		<button id="contact-btn" class="btn-main">
			Contact Me
		</button>
	</div>
</section>