<!-- Skills Section -->
<section id="skills" data-index="2">

	<div class="blurred-container">
		
		<!-- Fist Column -->
		<div>

			<!-- Title -->
			<h4>Design</h4>

			<div class="skills-group">

				<!-- Skill -->
				<div class="skill ps">
					<figure class="svg-loading">
						<div class="loader"><div></div><div></div></div>
						<object type="image/svg+xml" data-src="img/skills/html.svg">
							<?php echo $svg_error; ?>
						</object>
					</figure>
					<div class="description">
						<h4>Photoshp</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dicta maiores facere unde quis deleniti hic et corrupti delectus consequatur, distinctio dolor recusandae optio quia quod, natus alias animi voluptas!</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill">
					<figure></figure>
					<div class="description">
						<h4>Illustrator</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dicta maiores facere unde quis deleniti hic et corrupti delectus consequatur, distinctio dolor recusandae optio quia quod, natus alias animi voluptas!</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill">
					<figure></figure>
					<div class="description">
						<h4>XD</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dicta maiores facere unde quis deleniti hic et corrupti delectus consequatur, distinctio dolor recusandae optio quia quod, natus alias animi voluptas!</p>
					</div>
				</div>
			</div>

			<!-- Title -->
			<h4>Development</h4>

			<div class="skills-group">

				<!-- Skill -->
				<div class="skill">
					<figure></figure>
					<div class="description">
						<h4>HTML 5</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dicta maiores facere unde quis deleniti hic et corrupti delectus consequatur, distinctio dolor recusandae optio quia quod, natus alias animi voluptas!</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill">
					<figure></figure>
					<div class="description">
						<h4>CSS 3</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dicta maiores facere unde quis deleniti hic et corrupti delectus consequatur, distinctio dolor recusandae optio quia quod, natus alias animi voluptas!</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill">
					<figure></figure>
					<div class="description">
						<h4>JS Next</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dicta maiores facere unde quis deleniti hic et corrupti delectus consequatur, distinctio dolor recusandae optio quia quod, natus alias animi voluptas!</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill">
					<figure></figure>
					<div class="description">
						<h4>jQuery</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dicta maiores facere unde quis deleniti hic et corrupti delectus consequatur, distinctio dolor recusandae optio quia quod, natus alias animi voluptas!</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill">
					<figure></figure>
					<div class="description">
						<h4>Bootstrap</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dicta maiores facere unde quis deleniti hic et corrupti delectus consequatur, distinctio dolor recusandae optio quia quod, natus alias animi voluptas!</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill">
					<figure></figure>
					<div class="description">
						<h4>Angular JS</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dicta maiores facere unde quis deleniti hic et corrupti delectus consequatur, distinctio dolor recusandae optio quia quod, natus alias animi voluptas!</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill">
					<figure></figure>
					<div class="description">
						<h4>Vue JS</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dicta maiores facere unde quis deleniti hic et corrupti delectus consequatur, distinctio dolor recusandae optio quia quod, natus alias animi voluptas!</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill">
					<figure></figure>
					<div class="description">
						<h4>React</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dicta maiores facere unde quis deleniti hic et corrupti delectus consequatur, distinctio dolor recusandae optio quia quod, natus alias animi voluptas!</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill">
					<figure></figure>
					<div class="description">
						<h4>React Native</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dicta maiores facere unde quis deleniti hic et corrupti delectus consequatur, distinctio dolor recusandae optio quia quod, natus alias animi voluptas!</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill">
					<figure></figure>
					<div class="description">
						<h4>PHP</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dicta maiores facere unde quis deleniti hic et corrupti delectus consequatur, distinctio dolor recusandae optio quia quod, natus alias animi voluptas!</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill">
					<figure></figure>
					<div class="description">
						<h4>MySQL</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dicta maiores facere unde quis deleniti hic et corrupti delectus consequatur, distinctio dolor recusandae optio quia quod, natus alias animi voluptas!</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Second Column -->
		<div>

			<!-- Title -->
			<h4>Tooling</h4>

			<div class="skills-group">

				<!-- Skill -->
				<div class="skill">
					<figure></figure>
					<div class="description">
						<h4>Git</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dicta maiores facere unde quis deleniti hic et corrupti delectus consequatur, distinctio dolor recusandae optio quia quod, natus alias animi voluptas!</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill">
					<figure></figure>
					<div class="description">
						<h4>Wordpress</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dicta maiores facere unde quis deleniti hic et corrupti delectus consequatur, distinctio dolor recusandae optio quia quod, natus alias animi voluptas!</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill">
					<figure></figure>
					<div class="description">
						<h4>Node JS</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dicta maiores facere unde quis deleniti hic et corrupti delectus consequatur, distinctio dolor recusandae optio quia quod, natus alias animi voluptas!</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill">
					<figure></figure>
					<div class="description">
						<h4>Grunt JS</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dicta maiores facere unde quis deleniti hic et corrupti delectus consequatur, distinctio dolor recusandae optio quia quod, natus alias animi voluptas!</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill">
					<figure></figure>
					<div class="description">
						<h4>Gulp</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dicta maiores facere unde quis deleniti hic et corrupti delectus consequatur, distinctio dolor recusandae optio quia quod, natus alias animi voluptas!</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill">
					<figure></figure>
					<div class="description">
						<h4>Webpack</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dicta maiores facere unde quis deleniti hic et corrupti delectus consequatur, distinctio dolor recusandae optio quia quod, natus alias animi voluptas!</p>
					</div>
				</div>
			</div>

			<!-- Title -->
			<h4>Server</h4>

			<div class="skills-group">

				<!-- Skill -->
				<div class="skill">
					<figure></figure>
					<div class="description">
						<h4>AWS EC2</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dicta maiores facere unde quis deleniti hic et corrupti delectus consequatur, distinctio dolor recusandae optio quia quod, natus alias animi voluptas!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>