<!-- Skills Section -->
<section id="skills" data-index="2">

	<div class="blurred-container">
		
		<!-- Fist Column -->
		<div>

			<!-- Title -->
			<h4>Design</h4>

			<div class="skills-group">

				<!-- Skill -->
				<div class="skill ps">
					<figure>
						<span>PS</span>
					</figure>
					<div class="description right">
						<h4>Photoshp</h4>
						<p>I use photoshop to make small retouches that a website/application image may need.</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill ai">
					<figure>
						<span>Ai</span>
					</figure>
					<div class="description right">
						<h4>Illustrator</h4>
						<p>I use it mostly to get graphics on SVG format for web platform, usually branding or icons.</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill xd">
					<figure>
						<span>XD</span>
					</figure>
					<div class="description right">
						<h4>XD</h4>
						<p>This is where I spend the most of my time when I work on design. Prototypes, interaction and final design are  made here.</p>
					</div>
				</div>
			</div>

			<!-- Title -->
			<h4>Development</h4>

			<div class="skills-group">

				<!-- Skill -->
				<div class="skill html">
					<figure class="loading svg-loading">
						<div class="loader"><div></div><div></div></div>
						<img data-src="img/skills/html.svg" alt="" />
						<!-- 
						<object type="image/svg+xml" data="img/skills/html.svg">
							<?php echo $svg_error; ?>
						</object>
						-->
					</figure>
					<div class="description right">
						<h4>HTML 5</h4>
						<p>Over the years, I've got the chance to work with every aspect of HTML and it's API's.</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill css">

					<figure class="loading svg-loading">
						<div class="loader"><div></div><div></div></div>
						<img data-src="img/skills/css.svg" alt="" />
					</figure>

					<div class="description right">
						<h4>CSS3</h4>
						<p>8 years using CSS, 5 years using LESS and SASS preprocessors. I'm fully comfortable working with any of them.</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill js">

					<figure class="loading svg-loading">
						<div class="loader"><div></div><div></div></div>
						<img data-src="img/skills/js.svg" alt="" />
					</figure>

					<div class="description right">
						<h4>JS Next</h4>
						<p>Javascript is the base of my work as frontend developer, I keep myself updated about the newer versions features.</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill jq">

					<figure class="loading svg-loading">
						<div class="loader"><div></div><div></div></div>
						<img data-src="img/skills/jquery.svg" alt="" />
					</figure>

					<div class="description right">
						<h4>jQuery</h4>
						<p>Altough we could consider jQuery as deprecared for new projects, there are still many websites using it. I had my jQuery days, so I can work with legacy code using it.</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill bs">

					<figure class="loading svg-loading">
						<div class="loader"><div></div><div></div></div>
						<img data-src="img/skills/bootstrap.svg" alt="" />
					</figure>

					<div class="description right">
						<h4>Bootstrap</h4>
						<p>I'm comfortable using it's layout, components and events.</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill an">

					<figure class="loading svg-loading">
						<div class="loader"><div></div><div></div></div>
						<img data-src="img/skills/angular.svg" alt="" />
					</figure>

					<div class="description right">
						<h4>Angular JS</h4>
						<p>I've worked 5 years with it using the v1.5. While this framework is almost deprecated, it was a good experience to use almost every aspect of it.</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill vue">

					<figure class="loading svg-loading">
						<div class="loader"><div></div><div></div></div>
						<img data-src="img/skills/vue.svg" alt="" />
					</figure>

					<div class="description right">
						<h4>Vue JS</h4>
						<p>Used in a wordpress plugin project. It was a reduced version of a SAAS product for our customers.</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill react">

					<figure class="loading svg-loading">
						<div class="loader"><div></div><div></div></div>
						<img data-src="img/skills/react.svg" alt="" />
					</figure>

					<div class="description right">
						<h4>React</h4>
						<p>Did one project a couple of years ago (not online anymore). I am familiar the JSX philosophy and the use of hooks for state management.</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill react">

					<figure class="loading svg-loading">
						<div class="loader"><div></div><div></div></div>
						<img data-src="img/skills/react-native.svg" alt="" />
					</figure>

					<div class="description right">
						<h4>React Native</h4>
						<p>Currently learning and developing a small pet project.</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill php">

					<figure class="loading svg-loading">
						<div class="loader"><div></div><div></div></div>
						<img data-src="img/skills/php.svg" alt="" />
					</figure>

					<div class="description right">
						<h4>PHP</h4>
						<p>Most of my experience on it was aim to wordpress project and a couple of MVC systems. I'm not an expert, but I do get my way around it.</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill mysql">

					<figure class="loading svg-loading">
						<div class="loader"><div></div><div></div></div>
						<img data-src="img/skills/mysql.svg" alt="" />
					</figure>

					<div class="description right">
						<h4>MySQL</h4>
						<p>Definitely not my area, but I do undersand how querys are built, worked with it few years ago.</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill wordpress">

					<figure class="loading svg-loading">
						<div class="loader"><div></div><div></div></div>
						<img data-src="img/skills/wordpress.svg" alt="" />
					</figure>

					<div class="description right">
						<h4>Wordpress</h4>
						<p>With 5+ of experience with the CMS, I feel very comfortable working with it. I had the chance to do few plugins and themes on it.</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Second Column -->
		<div>

			<!-- Title -->
			<h4>Tooling</h4>

			<div class="skills-group">

				<!-- Skill -->
				<div class="skill git">

					<figure class="loading svg-loading">
						<div class="loader"><div></div><div></div></div>
						<img data-src="img/skills/git.svg" alt="" />
					</figure>

					<div class="description left">
						<h4>Git</h4>
						<p>I use git from command line following, documented guidelines. Over the years, I have combined git with github, gitlab, bitbucket and helix.</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill node">

					<figure class="loading svg-loading">
						<div class="loader"><div></div><div></div></div>
						<img data-src="img/skills/node.svg" alt="" />
					</figure>

					<div class="description left">
						<h4>Node</h4>
						<p>Mostly used as complement for task runners, I do not have experience working with node as backend language.</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill grunt">

					<figure class="loading svg-loading">
						<div class="loader"><div></div><div></div></div>
						<img data-src="img/skills/grunt.svg" alt="" />
					</figure>

					<div class="description left">
						<h4>Grunt</h4>
						<p>Used for CSS preprocessors, JS transpilation, file concatenation, image minification, theming, productivity engagment and more.</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill webpack">

					<figure class="loading svg-loading">
						<div class="loader"><div></div><div></div></div>
						<img data-src="img/skills/webpack.svg" alt="" />
					</figure>

					<div class="description left">
						<h4>Webpack</h4>
						<p>Used for CSS preprocessors, JS transpilation, file concatenation, image minification, theming, productivity engagment and more.</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill gulp">

					<figure class="loading svg-loading">
						<div class="loader"><div></div><div></div></div>
						<img data-src="img/skills/gulp.svg" alt="" />
					</figure>

					<div class="description left">
						<h4>Gulp</h4>
						<p>Used for CSS preprocessors, JS transpilation, file concatenation, image minification, theming, productivity engagment and more.</p>
					</div>
				</div>

				<!-- Skill -->
				<div class="skill trello">

					<figure class="loading svg-loading">
						<div class="loader"><div></div><div></div></div>
						<img data-src="img/skills/trello.svg" alt="" />
					</figure>

					<div class="description left">
						<h4>Trello</h4>
						<p>Used to manage tasks and set sprints for the next version of the software.</p>
					</div>
				</div>
			</div>

			<!-- Title -->
			<h4>Server</h4>

			<div class="skills-group">

				<!-- Skill -->
				<div class="skill aws">

					<figure class="loading svg-loading">
						<div class="loader"><div></div><div></div></div>
						<img data-src="img/skills/aws.svg" alt="" />
					</figure>

					<div class="description left">
						<h4>AWS EC2</h4>
						<p>I have set an instance running ubuntu sever for a small sized ecommerce.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>